<style media="screen">
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  #main {
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ember-dnd-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 200px;
  }
</style>
<div class="container" id="main">
  {{dnd-shelf}}
</div>
